Server/node_modules/
Client/node_modules/
Admin/node_modules/

Server/.env
Client/.env
Admin/.env

Server/dist/
Client/dist/
Client/build/
Admin/dist/

Server/uploads/

Server/npm-debug.log*
Server/yarn-debug.log*
Server/yarn-error.log*

Client/npm-debug.log*
Client/yarn-debug.log*
Client/yarn-error.log*

Admin/npm-debug.log*
Admin/yarn-debug.log*
Admin/yarn-error.log*

.vscode/
*.code-workspace

.refact/

.DS_Store
Thumbs.db
